@font-face {
  font-family: 'lucida_sans_unicoderegular';
  src: url('../font/Lucida/l_10646-webfont.woff2') format('woff2'),
       url('../font/Lucida/l_10646-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'lucida_sans_unicoderegular';
  color: #fff;
  background-color: #3399CC;
  border: 20px solid #2B81AC;
  min-height: 100vh;
}

.title {
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  padding: 20px 0;
}


.container {
  max-width: 1170px;
  margin: 0 auto 20px;
  border: 2px solid;
  background-color: #fff;
}

.header,
.footer {
  max-width: 1170px;
  margin: 0 auto;
}

.cities-list {
  font-size: 0;
}

.cities-list__item {
  display: inline-block;
  border: 2px solid;
  font-size: 22px;
  text-align: center;
  padding: 25px 0 25px;
  cursor: pointer;
}

.cities-list__title {
  padding-bottom: 5px;
}

.lisbon {
  background-color: #3399CC;
  width: 50%;
}

.paris {
  background-color: #33CCCC;
  width: 25%;
}

.belgrade {
  background-color: #996699;
  width: 25%;
}

.venice {
  background-color: #C24747;
  width: 25%;
}

.tel-avive {
  background-color: #E2674A;
  width: 25%;
}

.cair {
  background-color: #FFCC66;
  width: 25%;
}

.new-york {
  background-color: #99CC99;
  width: 25%;
}

.new-delhi {
  background-color: #669999;
  width: 25%;
}

.sf {
  background-color: #CC6699;
  width: 50%;
}

.tokyo {
  background-color: #339966;
  width: 25%;
}

.sydney {
  background-color: #666699;
  width: 100%;
}

.footer {
  font-size: 16px;
}

.cities-list:hover .cities-list__item{
  opacity: 0.5;
}

.cities-list:hover .cities-list__item:hover {
  opacity: 1;
}
